#content main {
    padding-top: 0;
}

#content main #nav-tab-content {
    width: 94.5%;
    margin: 0 auto;
}

#content .nav-tab-menu {
    color: white;
    border-radius: 0.625rem 0.625rem 0 0
}

#content .nav-tab-menu nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

#content .nav-tab-menu nav ul li:last-child {
    margin-right: 0 !important;
}