@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*
================================================================
*/

/*====== HEADER ======*/

header nav ul li {
    cursor: pointer;
}

header nav ul li:hover {
    font-weight: bold;
    color: black;
}



/*====== MAIN CONTENT ======*/

#main-content #presentation {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    max-width: 1250px;
    width: 80%;

    overflow: hidden;
    border-radius: 1.25rem;
    margin: 3.125rem auto;
    padding: 1rem 0;

    background-color: black;
    color: white;
}

#main-content #presentation div {
    width: 231px;
}

#main-content #presentation p {
    font-style: italic;
    font-size: 1.6875rem;
    line-height: 1.5;
    width: 67%;
}

#main-content #presentation div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#main-content #nav-tab-menu {
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 0.625rem 0.625rem 0 0
}

#main-content #nav-tab-menu nav {
    padding: 0.75rem;
}

#main-content #nav-tab-menu nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

#main-content #nav-tab-menu nav ul li {
    padding: 0.5rem;
    text-transform: uppercase;
    margin-right: 18px;
}

#main-content #nav-tab-menu nav ul li:last-child {
    margin-right: 0 !important;
}

#main-content #nav-tab-menu nav ul li:hover {
    border: 1px solid white;
    border-radius: 6px;
}

#main-content main {
    max-width: 1140px;
    width: 67.5%;
    background-color: #97C93D;
    margin: 1rem auto;
    padding-bottom: 2.063rem;
    border-radius: 0.625rem;
}

#main-content #nav-tab-content {
    width: 93.5%;
    margin: 0 auto;
}

#main-content #sinopse {
    text-align: center;
    margin: 1.5rem 0 3rem;
}

#main-content #sinopse h1 {
    font: normal 2.5rem 'Roboto', sans-serif;
}

#sinopse p {
    font-size: 1rem;
    line-height: 1.5;
}

#main-content #aliens-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main-content #alien-card {
    border: 1px solid black;
    /* width: 23%; */
    width: 200px;
    list-style: none;
}

#main-content #alien-card-img {
    width: 100%;
    height: 245px;

    background-image: url(../img/bg/retangulo\ 4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;

    overflow: hidden;
}

#main-content #alien-card-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#main-content #alien-card-description {
    text-align: center;
}

#main-content #alien-card-description a {
    text-decoration: none;
    color: black;
}

#main-content #alien-card-description a:hover {
    font-style: italic;
}

#main-content #alien-card-description p {
    margin: 0.5rem 0;
    pointer-events: none;
    display: inline-block;
}





@media (max-width: 768px) {

    #presentation {
        font-size: clamp(1.2rem, 1.6rem, 1.6875rem);
    }

    main {
        width: 90%;
    }

    #main-content #presentation {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    
    #alien-card #alien-card-img:hover {
        transition: 1s all;
        transform: scale(1.2);
        z-index: 5 !important;
    }    
}