.grid-cards .card {
    position: relative;
}

.author-info .text img {
    width: 20px !important;
    border-radius: 2px;
}

.author-info .text a {
    color: white;
    text-decoration: none;
}

.author-info .text p {
    text-shadow: 2px 1px 3px rgb(0 0 0);
}


@media (max-width: 1099px) {

    .author-info {
        border-radius: 0 0 0.125rem 0.125rem;
    }

    .author-info .text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.313rem 0;
    }

    .author-info .text > div {
        order: 2;
        margin-left: 0.313rem;
    }
}


@media (min-width: 1100px) {
    
    .author-info {
        position: absolute;
        top: 76%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 24%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: var(--blue1);
        border-top-left-radius: 247% !important;
        border-top-right-radius: 247% !important;
    }
    
    .card:hover .author-info,
    .card:active .author-info {
        opacity: 1;
    }
    
    .author-info .text {
        color: white;
        font-size: 1rem;
        position: absolute;
        top: 62%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .author-info .text a p {
        margin-top: 2% !important;
    }
    
    .author-info .text a p:hover {
        font-style: italic;
        font-weight: bold;
    }
}