.grid-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid-cards .card {
    width: 280px;
    list-style: none;
    margin: 1%;
}

.grid-cards .card .card-img {
    width: 100%;
    height: 350px;

    overflow: hidden;
}

.grid-cards .card .card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
