header #headerNavBar > div {
    display: none;
}

.dropdown {
    position: relative;
    /* overflow: hidden; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--green3);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    margin-top: 0.313rem;
}

.dropdown-content li {
    padding: 1rem;
}

.dropdown-content li a {
    text-decoration: none;
    color: white;
}

.dropdown-content li a:hover {
    font-style: italic;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 600px) {

    .hideShowBtn {
        display: block !important;
    }

    header #headerNavBar #navBarLista {
        flex-direction: column;
        align-items: center;
        background-color: #333333 !important;
        padding: 0.625rem 0;
    }

    header #headerNavBar #navBarLista {
        display: none;
    }

    #navBarLista li a {
        display: flex;
    }

    header #headerNavBar > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* width: 90%;
        margin: 0 auto; */
        padding: 1rem
    }

    header #headerNavBar > div a {
        text-decoration: none;
        font-size: 1.25rem;
        color: white;
    }

    .dropdown-content {
        position: relative;
    }
}