/*========== Collapsible ==========*/

.rulesCollapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.rulesCollapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.rulesActive:after {
    content: "\2212";
}

.rulesContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



/*========== RULES ==========*/

#rules {
    background-color: black;
    color: white;
    border-radius: 0.625rem 0.625rem 0 0;
    margin-bottom: 3.125rem;
    padding: 1.5rem 1rem 0;
    text-align: center;
}

#rules p {
    margin-bottom: 1.25rem;
}

#rules p, button {
    font-weight: 500;
}

#rules a {
    color: var(--green1);
    text-decoration: none;
    font-weight: 500;
}

#rules a:hover {
    text-decoration: underline;
    font-style: italic;
}

#rules button span:hover {
    text-decoration: underline;
}

#rules h1{
    font-size: 3.125rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.rulesContent {
    text-align: left;
    padding: 0 1.25rem;
}

.rulesContent ul {
    padding-left: 2.5rem;
    line-height: 1.6;
    list-style: disc;
}

.rulesContent #obs {
    margin-bottom: 1.25rem;
}

.rulesContent #obs p {
    margin: 2rem 0 1rem;
}



/*================== @MEDIA ==================*/

@media (max-width: 768px) {

    .rulesContent ul {
        padding: 0.375rem !important;
    }
}